body {
    background-color: #f8f9fa;
}

#result {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#map {
    height: 400px;
    border-radius: 8px;
}